@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;
    --card: 0 0% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 256 38% 52%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 256 100% 67%;
    --accent-foreground: 0 0% 13%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 256 100% 67%;
    --chart-1: 256 38% 52%;
    --chart-2: 256 100% 67%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;
    --card: 0 0% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 256 38% 52%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 256 100% 67%;
    --accent-foreground: 0 0% 13%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 256 100% 67%;
    --chart-1: 256 38% 52%;
    --chart-2: 256 100% 67%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(hsl(var(--foreground) / 0.05) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}